[2021-07-23 22:33] kirk-microsoft opened #4 "API to support message backplane"
Currently an Aggregator/Aggregation provider has to export the implementations to the vertx module. The goal is to eliminate this by adding message bus support to the API and converting the vertx module to be a supplier to this API. Making this move should allow us to clean up the vertx module.

[2021-07-23 22:36] kirk-microsoft opened #5 "Add API to support parsers"
Currently the API doesn't have direct support for parsing. The proposal is to add that support to API so that some of the slightly confusing code in the parser module can be cleaned up. For example, there is a JVMConfiguration implements a JVMConfiguration and also wraps a JVMConfiguration.

[2021-07-23 22:42] kirk-microsoft opened #6 "GCToolkit instantiates JavaVirtualMachine class too soon in the opening workflow"
GCToolkit should delay creating the JavaVirtualMachine class until after the gc log has been diarized. Delaying will allow GCToolkit to create a specialization of JavaVirtualMachine thus eliminating the need for DefaultJavaVirualMachine

[2021-07-30 16:29] karianna opened #8 "mvn site fails"
Lots to unpick here.

[code]

[2021-08-05 15:00] kittylyst opened #11 "mvn test fails"
Not sure if you're fully released yet, but mvn test currently fails:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:3.1.1:unpack (download-test-logs) on project gctoolkit: Unable to find/resolve artifact.: Failed to read artifact descriptor for com.microsoft.gctoolkit:gctoolkit-gclogs:zip:1.0.1: Could not transfer artifact com.microsoft.gctoolkit:gctoolkit-gclogs:

[2021-08-05 15:31] dsgrieve commented on #11
Hi Ben. This is a known problem which I thought was addressed in the README, but now I see that slipped through the cracks. The work-around is to clone microsoft/gctoolkit-testdata and do a 'mvn install' so the build will pick up the local repository.

[2021-08-05 16:15] karianna commented on #11
I thought with a GH PAT folks could get that from GH packages?

[2021-08-05 16:20] kittylyst commented on #11
@dsgrieve Doesn't look like that works :(

[beevans@beevans gctoolkit-testdata]$ mvn install
[INFO] Scanning for projects...
[INFO]
[INFO] -------------< com.microsoft.gctoolkit:gctoolkit-testdata >-------------
[INFO] Building GCToolKit Test Data 1.0.1
[INFO] --------------------------------[ pom ]---------------------------------
[INFO]
[INFO] --- maven-install-plugin:2.4:install (default-instal

[2021-08-05 16:29] dsgrieve commented on #11
@kittylyst Oh... my apologies. Try `for f in `find . -name pom.xml`; do mvn install --file $f; done`

But maybe you also need the PAT, as @karianna mentions. I'd be interested to know if the PAT works for you. (It works for me, but not for others),

[2021-08-05 16:55] kittylyst commented on #11
It gets further than it did, but I now see a test failure:

[INFO] Running com.microsoft.gctoolkit.parser.test.diary.ParallelJVMConfigurationTest
[ERROR] Tests run: 6, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 7.317 s <<< FAILURE! - in com.microsoft.gctoolkit.parser.test.diary.ParallelJVMConfigurationTest
[ERROR] com.microsoft.gctoolkit.parser.test.diary.ParallelJVMConfigurationTest.testFo

[2021-08-05 17:33] dsgrieve commented on #11
@kittylyst - Works for me, and the github build passes as well. Pay careful attention to https://github.com/microsoft/gctoolkit-testdata/blob/main/README.md and gctoolkit-testdata's dependence on Git Large File Storage (LFS).

Clearly we need to update the README in gctoolkit....

[2021-08-05 22:35] pliakas commented on #11
Hello,
 it seems that "mvn install" is not working in the main  (root) project of microsoft/gctoolkit-testdata. You need to build each maven module individually.

I have created a quick script that can be used in the root project of gctoolkit-testdata.

[2021-08-05 23:07] SubOptimal commented on #11
In the pom of `gctoolkit-testdata`, the separate `gctoolkit-*` are added as dependency and not as a Maven module. Hence they need to be processed individually.

see: https://github.com/microsoft/gctoolkit-testdata/blob/main/pom.xml#L68

[code]

[2021-08-06 04:44] sormuras opened #13 "Rename module names to start with `com.microsoft.`"
As requestd by @brunoborges https://twitter.com/brunoborges/status/1423503746995298304 😉

Rename module names to start with `com.microsoft.`, in order to follow the reverse-DNS style pattern. Find more information and detailed reasonings here: https://blog.joda.org/2017/04/java-se-9-jpms-module-naming.html

Nice side-effect: their Maven coordinates will be automatically mapped by https://github.co

[2021-08-06 05:18] brunoborges commented on #11
I'd suggest adding gctoolkit-testdata as a submodule of the main gctoolkit project. This way, the content is separate in terms of Git repo ('cause testdata has a lot of files), but it then becomes easier from end user perspective to pull the content and build. As in, add a shell script into core that does these git/build steps.

[2021-08-06 07:52] pliakas opened #14 "Adding Test Coverage Report, Static Code Analysis & Code Style Check"
I would recommend to add the following tools

### Test Coverage

### Static code Analysis

### Code style

[2021-08-06 11:17] karianna commented on #14
Agreed, I think we'd prefer this to be Maven based reporting, see #8

[2021-08-06 13:39] dsgrieve commented on #11
@SubOptimal - Commenting out the modules was done so that the top-level pom could include dependencies on the individual modules (beginning on line 76 of the referenced pom file). The idea was to allow each set of log files be versioned independently of the other. That way, one could add, say, ZGC logs and we wouldn't have to repackage and download all the other logs. It made sense (to me) at the

[2021-08-06 14:11] dsgrieve commented on #11
https://github.com/microsoft/gctoolkit-testdata/pull/2 to fix `mvn install`

[2021-08-06 21:21] dsgrieve commented on #11
Gave better documentation for the need to authenticate with github packages.
https://github.com/microsoft/gctoolkit/commit/fd80c761bd5e88f06e8e21e4f96d92569d9e68f0

[2021-08-06 21:21] #11 closed

[2021-08-07 06:49] #8 closed

[2021-08-07 23:53] Mum2541 commented on #6
Duplicate of #

[2021-08-09 07:54] karianna opened #21 "Update README to make Hotspot support clearer"
Hi everyone!

Thanks for sharing such a great tool! I would love to try it, but it seems that it is only compatible with HotSpot JVMs.
Consider this sentence from your README:

It should probably be:

I know MS' JVM is yet another hotspot distribution like 99% of the other JVMs out there, but [OpenJ9](https://www.eclipse.org/openj9/) does have a significant use case and is typically used in conjun

[2021-08-09 11:50] anantk24 commented on #21
Hi @karianna ,
I would like to take this issue.  Can you assign it to me?

[2021-08-09 12:42] anantk24 commented on #21
Added [pull request](https://github.com/microsoft/gctoolkit/pull/23) . Kindly review and would be happy to work on comments.

[2021-08-09 14:45] anantk24 commented on #14
I would recommend using sonar cloud  for static code analysis.
On Spotbugs [website ](https://spotbugs.readthedocs.io/en/stable/introduction.html) suggest "SpotBugs can scan bytecode (class files) generated by JDK8 and newer versions. However, support for Java 11 and newer is still experimental. Visit issue tracker to find known problems."
Above project has started working on JDK 11.
Any comments?

[2021-08-09 15:28] karianna commented on #14
We typically use checkstyle, PMD, and Spotbugs on projects.  Sonar cloud is often OTT, but I'd be curious to explore it if we can use a free tier.

[2021-08-09 19:01] mikehearn opened #24 "Are there any docs for this project?"
Showing what analyses it can do, what it outputs, how to run it etc?

[2021-08-09 20:32] karianna commented on #24
The `README.md` at the root of the project should be your starting point and a https://github.com/microsoft/gctoolkit/tree/main/sample sample project.  But I feel there is a Ux bug here!

[2021-08-10 04:21] v-sreekesh commented on #24
Hi @karianna I would like to help with this UX bug you have mentioned could you link me to detailed blog post ?

[2021-08-10 07:51] mikehearn commented on #24
I read the README before filing this issue of course. I wouldn't quite call that documentation. It tells you more about how to contribute than about what the tool actually does.

[2021-08-10 09:27] anantk24 commented on #14
As sonarcloud is [free](https://sonarcloud.io/pricing) for public projects, can be explored for this project. Only thing is maintainer has to setup GitHub workflow for sonar cloud. Checkstyle, PMD spotbugs can be configured in maven .

I would be happy to  take up this task, once everything is finalized.

[2021-08-10 09:33] karianna commented on #14
OK so Microsoft is an org in Sonarcloud but we need to get the core committers added before we can set that up.  In the meantime, if you'd like to add Checkstyle, PMD, and Spotbugs to our Maven reporting that would be most welcome!

[2021-08-10 10:16] karianna commented on #24
The UX bug I'm referring to is the lack of documentation (and links!) in the `README.md` file :-).  I think that's one the original authors are going to have to rectify.

[2021-08-10 10:17] karianna commented on #24
Agreed, I've updated the issue and we'll get onto this!

[2021-08-10 10:37] karianna opened #26 "sample.sh missing / no easy way to run the sample"
`mvn clean install exec:java` in the sample directory doesn't run the Main class.  The _sample.sh_ file mentioned in the blog is not there and it's complicated to figure out how to run the Main class using the module system.

[2021-08-10 10:45] karianna commented on #26
See #27

[2021-08-10 12:03] dsgrieve commented on #21
commit 4a87ddf

[2021-08-10 12:03] #21 closed

[2021-08-10 17:28] #26 closed

[2021-08-10 17:29] karianna commented on #24
We think #27 resolves this.  More feedback welcome!

[2021-08-10 17:29] #24 closed

[2021-08-10 17:30] karianna commented on #13
@sormuras - Is it just the blog update to go now you think?

[2021-08-10 17:35] sormuras commented on #13
Yes.

Perhaps also the sample?

https://github.com/microsoft/gctoolkit/blob/main/sample/src/main/java/module-info.java#L10

But that's debatable, as that modular application (the module `gctoolkit.sample`) is not intended to be reused.

[2021-08-10 17:36] karianna commented on #13
@dsgrieve - Thoughts on this?

[2021-08-10 17:36] anantk24 commented on #14
Sure. I will take it up. Please assign it to me.

[2021-08-10 18:02] pliakas commented on #14
@karianna @anantk24 i already started with the Jacoco, but you can do the other :) no problem :)

[2021-08-11 06:36] andotorg opened #30 "Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:3.1.1:unpack (download-test-logs) on project gctoolkit: Unable to find/resolve artifact."
Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:3.1.1:unpack (download-test-logs) on project gctoolkit: Unable to find/resolve artifact.

[2021-08-11 11:33] karianna commented on #30
@andotorg can you run that again with `mvn -X <command>` and post the relevant output here?

[2021-08-11 11:47] dsgrieve commented on #30
Also, can you confirm that you followed the guidance in https://github.com/microsoft/gctoolkit#prerequisite-for-building-gctookit ? I'd like to know if there is a problem in the doc. Thanks.

[2021-08-11 18:33] anantk24 commented on #30
Go through following steps check this resolve your issue:
- ~/.m2/settings.xml - check if this file is present or not. if not present copy from maven/conf folder to .m2 -- this is default setting for IDE
- [create github token](https://github.com/settings/tokens)
- Make sure it has appropriate [scopes](https://github.com/microsoft/gctoolkit/discussions/29) defined.
- once token is created copy it.

[2021-08-11 21:06] dsgrieve opened #35 "Create a 'contributor' profile"
Create a profile that can be used by a contributor to run tests and checks.  This would make it easy for someone who just wants to fork and build but not contribute. The default profile would not run tests or checks.

One of the biggest benefits of this is that we could avoid having to download the gclog test data for a casual user. The default profile would set skipTests and skipUnpack to true. T

[2021-08-11 21:11] karianna commented on #35
Thinking out loud - longer-term we could reduce the test data to only what we need for unit testing and have the full set for integration testing in CI/CD (or optional profile) only?

[2021-08-11 21:14] karianna opened #36 "Define Checkstyle and PMD rules"
Ah I see - so we need to define the project stds for checkstyle and PMD! :-)

_Originally posted by @karianna in https://github.com/microsoft/gctoolkit/issues/33#issuecomment-897158855_

[2021-08-11 21:15] karianna commented on #36
Ii think the core committers should have the initial say here - but worth defining!

[2021-08-12 07:38] anantk24 commented on #35
Agree with @dsgrieve , by this we can avoid setting up github PAT in settings.xml correct?

[2021-08-12 09:37] anantk24 commented on #35
I will take up this task . Please assign it to me!

[2021-08-12 11:56] dsgrieve commented on #36
We should probably center on Google's style since it is IDE neutral, is actively maintained, and there are [reformatting tools](https://github.com/google/google-java-format) available.

[2021-08-12 12:42] dsgrieve opened #38 "Make DateTimeStamp implement Comparable"
The use-case is that of a being able to order by date/time a collection of data items extracted from a GC event. DateTimeStamp does have API that allow it to be compared in various ways, but it does not implement Comparable. This makes it difficult to create a sortable, abstract data set (for example DataSet<X extends Comparable<X>, Y extends Comparable<Y>)  that can use DateTimeStamp.

[2021-08-12 14:49] anantk24 commented on #38
Please Assign this to me . Added [pull request](https://github.com/microsoft/gctoolkit/pull/39) for the same . Thanks :)

[2021-08-17 14:36] anantk24 commented on #38
Pull request merged. We can close this issue!

[2021-08-17 14:51] #38 closed

[2021-08-18 15:02] #35 closed

[2021-08-18 15:31] pliakas commented on #6
I can work in this bug, if no-one is working. Please assign it to me.

[2021-08-18 15:50] dsgrieve opened #49 "DateTimeStamp API that takes double as an arg should handle NaN"
Double.NaN should be treated as 0.0.

I would expect, for example, that `new DateTimeStamp(0.0).add(Double.NaN).equals(new DateTimeStamp(0.0))` to be true.

[2021-08-18 15:53] anantk24 commented on #49
I will take this up . Assign it to me.

[2021-08-18 16:51] anantk24 commented on #49
Added pull request #50

[2021-08-18 21:13] dsgrieve commented on #6
@pliakas, Please reach out to @kirk-microsoft, who has specific ideas on this issue.

[2021-08-20 08:53] sormuras commented on #13
Fine. Let's rename the sample module from `gctoolkit.sample` to `com.microsoft.gctoolkit.sample`. Want me to file a PR?

[2021-08-20 13:23] dsgrieve commented on #13
@sormuras I don't think you need a new PR for the sample. Just update this one.

[2021-08-20 13:27] sormuras commented on #13
This is an issue -- PR #15 was already merged and the underlying branch deleted.

[2021-08-20 13:37] dsgrieve commented on #13
Oh my. How did I not notice that!? If you would like to create a new PR, that would be awesome!

[2021-08-20 13:53] sormuras commented on #13
After PR #53 was (reviewed, approved, and) merged, only the blog post needs an update regarding new module names.

[2021-08-24 14:57] karianna commented on #30
@andotorg Can you confirm that this is resolved for you?

[2021-08-24 19:54] #49 closed

[2021-08-24 19:55] karianna commented on #13
@brunoborges - would you be OK to update the blog or is that a @kirk-microsoft task?

[2021-08-24 20:43] brunoborges commented on #13
I can do that, yes.

[2021-08-25 03:39] andotorg commented on #30
i create github token， I've specified settings.xml
I downloaded the dependent project again and installed the dependent project locally。
This project is another project that relies on your open source

[2021-08-25 03:40] andotorg commented on #30
I followed the instructions in the document, but the document still didn't feel very clear

[2021-08-25 03:41] andotorg commented on #30
dependent   https://github.com/microsoft/gctoolkit-testdata

[2021-08-25 09:39] karianna commented on #30
I think it's fair to say that the README.md doesn't quite guide the user to the appropriate CONTRIBUTING.md file.  I think the https://github.com/microsoft/gctoolkit#maven-coordinates could also do with a little bit of context (in that those maven coordinates need to be added to any client application that you might create).

[2021-08-25 11:13] karianna commented on #30
https://github.com/microsoft/gctoolkit/pull/59 to improve this.

[2021-08-25 14:06] anantk24 commented on #14
I think this issue has been fixed. Spotbugs and checkstyle related changes are merged .
@pliakas has merged changes related jacoco.
@pliakas Can we close this issue?

[2021-08-26 14:48] #30 closed, assigned to nobody

[2021-08-31 09:28] marchof opened #63 "Github Packages not available"
Hi, thanks for starting this project! I'm really looking forward to make use of it soon :)

It looks like the Github package URL (`https://maven.pkg.github.com/microsoft/*`) is wrong, no packages available at this time. Right? Can you pleas point me to the actual repository. Preferably Maven Central :)

Thanks,
-marc

[2021-08-31 09:29] kcpeppe opened #64 "module names should start with com.microsoft to reflect the org of origin"
Module names should start with com.microsoft to reflect the organization of origin.

[2021-08-31 10:32] karianna commented on #63
Hi Marc,

Great to have you on board!  That URL should work, so in the POM file of _your_ project that uses GCToolKit you should add that repository as well as the three modules:

[code]

Hopefully, that should all resolve for you.

[2021-08-31 19:16] karianna opened #67 "Compiler Warnings with -X:lint switched on"
These aren't necessarily bugs, but we should look into them:

[code]

and

[code]

[2021-08-31 19:26] karianna opened #68 "mvn site plugin fails with an NPE on license report generation"
To reproduce uncomment the license plugin in the reporting section and run `mvnw site`

[code]

[2021-09-01 17:24] brunoborges opened #72 "Remove auto loading aggregators"
_Originally posted by @kcpeppe in https://github.com/microsoft/gctoolkit/pull/70#issuecomment-910307034_

[2021-09-01 17:41] brunoborges opened #73 "Rethink GCToolKit API flow: GCAnalyzer returns GCAnalysis"
For discussion:
---
Bruno and I had a discussion about this API in general. It was very refreshing to have his un-initiated perspective here. One of the ideas he tossed into the ring was having an 'analyzer' API, to which my response was that is what GCToolkit is.

Later, I got to thinking about it and I see where he's coming from. I think, perhaps, we should rename the GCToolKit class to `GCAnaly

[2021-09-01 17:45] brunoborges commented on #73
This is also related to #6.

// @kcpeppe @karianna

[2021-09-01 17:55] karianna commented on #73
I agree that the name of JavaVirtualMachine could be improved to more accurately represent what it is (which is really the GC information for that JVM as pulled out of the log).  I'm not 100% sure it's a full analysis though, more of a model?

[2021-09-01 18:42] brunoborges commented on #73
@kcpeppe you mentioned the following:

And that is correct. Perhaps the method `analyze(dataSource)` shouldn't be called that. It should be called `aggregate` then?

[2021-09-01 18:57] brunoborges commented on #68
@karianna  I just did a `mvn site:site -Pcontributor` locally and it all worked.

[2021-09-01 20:27] karianna commented on #68
Did you uncomment the license plugin report? :-)

[2021-09-01 20:59] dsgrieve opened #77 "DateTimeStamp compareTo function is not transitive"
As exhibited by pull request #76

[2021-09-01 21:00] brunoborges commented on #68
I never thought it was commented out! Maybe a detail missed from this issue report :-D

[2021-09-01 21:02] karianna commented on #68
It was a trap to be fair :-)

[2021-09-01 21:27] brunoborges commented on #68
Stop with the line-ending emojis! :-D

[2021-09-02 07:55] marchof commented on #63
Ah, seems to be an Github issue: You need to configure Maven with credentials to access artifacts. Will try later with my credentials.

Would be more convenient to have artifacts on Maven Central :)

[2021-09-02 07:58] marchof opened #78 "Please add Tag/Relase for 2.0.1"
According to documentation there is a release 2.0.1. But it does now show as a tag and therefore also not a the latest release on GitHub.

As a user it would be nice to directly see the latest release in the GitHub landing page and also know the tree version which belong to that release.

[2021-09-02 10:12] karianna commented on #63
Agreed but sadly it's not the sort of artifact Maven central would accept.

[2021-09-02 12:06] marchof commented on #63
If I tried with PAT configured:

Are you sure there is a release? The current [pom.xml](https://github.com/microsoft/gctoolkit/blob/main/pom.xml) only mentions `2.0.1-SNAPSHOT`.

[2021-09-02 12:11] kcpeppe opened #79 "Publish releases to Maven Central"

[2021-09-02 12:12] kcpeppe opened #80 "Remove GitHub Packages configuration from POM files"

[2021-09-02 12:18] kcpeppe opened #81 "Cleanup POM files for publication"
Using [PomChecker](https://kordamp.org/pomchecker/pomchecker-maven-plugin/index.html) to verify the structure of a POM file, yields the following outputs:

for GCToolkit's root POM file
[code]

Related to #80

For GCToolkit/core/api POM file

[code]

Decide which values for `<name>`, `<description>`, `<url>` should be use for child projects.

[2021-09-02 12:21] kcpeppe opened #82 "Configure deployment to Maven Central"
Use the nexus staging plugin for publishing a release to MC.
Configure sources and javadoc plugins to generate and attach JAR files.
Configure signing plugin to sign with PGP signatures.

Suggestion: use profiles to move these concerns out of the main cycle. Look at https://github.com/moditect/moditect-org-parent

[2021-09-02 12:27] kcpeppe opened #83 "Update release workflow to publish to Maven Central"
Currently publishing releases to GitHub Packages, the `publish.yml` file would need updates to publish to Maven Central.

Suggestion: look at https://github.com/moditect/moditect-org-parent/blob/main/.github/workflows/release.yml

[2021-09-02 12:34] dsgrieve commented on #81
The first one goes away when you do the mvn release:prepare/perform steps.

[2021-09-02 12:41] dsgrieve commented on #78
Depends on  #79

[2021-09-02 17:59] brunoborges commented on #81
I'd suggest talking to @JonathanGiles from the Azure SDK Team on details of their release process to Maven Central.

[2021-09-02 18:01] brunoborges commented on #79
I'd suggest talking to @JonathanGiles from the Azure SDK Team on details of their release process to Maven Central, so that we have a consistent process across different artifacts.

[2021-09-03 12:22] anantk24 commented on #68
I would like take this up . Assign this to me.

[2021-09-03 12:28] karianna commented on #68
The myclin license plugin might be a better option here...

[2021-09-03 17:54] anantk24 commented on #77
- Does that mean  `Datetimestamp` constructor should calculate timestamp value if  `ZonedDateTime` is passed ?
- Current comparision if any 'ZonedDateTime' is null it will compare timestamp value otherwise first compare dateTime then compare timestamp.
- Currently `new DateTimeStamp("2021-09-01T11:12:13.111-0100", 100)` will have timestamp value as 100

[2021-09-03 18:37] anantk24 commented on #68
Downgrading jars version `<maven.license-plugin.version>1.20</maven.license-plugin.version>` to works for me after uncommenting it. Refer [here ](https://github.com/mojohaus/license-maven-plugin/issues/358)for details

[2021-09-03 18:53] karianna commented on #68
Looks like the active maintenance on that project is pretty poor - could you give https://github.com/mathieucarbou/license-maven-plugin a try?

[2021-09-03 19:35] mnriem commented on #79
If you are looking for a lightweight way to do this. You can use 2 GitHub workflows. One workflow to create a tag on GitHub, e.g https://github.com/manorrock/parrot/blob/master/.github/workflows/trigger.yml And one workflow that is triggered when a tag is created and using the tag to release to Maven central, e.g https://github.com/manorrock/parrot/blob/master/.github/workflows/release.yml

[2021-09-05 08:06] marchof opened #87 "Clarify and configure merge strategy for main branch"
The main branch is the one with the history which is kept "forever". Therefore I recommend having a clean and readable history. Currently the default configuration for this repository seems to be "merge" for PRs. This results in additional (useless) merge commits for every PR:

![image](https://user-images.githubusercontent.com/1936262/132119908-07fa78ec-5a8d-4b04-9fbc-6eb12275a2af.png)

I recomme

[2021-09-06 11:06] karianna commented on #87
I've applied the config you suggested, let's see how it plays out :-)

[2021-09-06 11:06] #87 closed

[2021-09-07 19:14] kabutz commented on #77
Yeah, that's why I didn't suggest a fix - I think @kirk-microsoft needs to decide in which order he wants these events to be sorted.

[2021-09-08 18:27] anantk24 commented on #68
Hi @karianna ,
I tried this executing locally, what documentation is suggesting that, it will either check , update , remove file headers based on license type. Same is happening when executed it. [Ref](https://github.com/mathieucarbou/license-maven-plugin#Goals)

[2021-09-09 11:47] karianna commented on #68
Yes, you're correct, it is the wrong type of license checking.

I think the next steps are:

1. Downgrade the plugin
2.Get onto the mailing list of the maven license plugin from codehaus and see if any active maintainers are willing to help us fix the issue and get a release of 2.0.1 out.

[2021-09-09 23:08] brunoborges opened #89 "ParallelJVMConfigurationTest is failing"
[code]

[2021-09-12 11:09] anantk24 commented on #68
Added pull request #91

[2021-09-12 17:18] anantk24 commented on #89
@brunoborges . It is passing on my local machine. Any specific settings needed ?
I am using `mvn -Pcontributor test ` to run testcases under parser module.

[2021-09-12 17:31] brunoborges commented on #89
What JDK are you using?

[2021-09-13 08:32] #68 closed

[2021-09-13 08:59] anantk24 commented on #89
Oracle JDK 11
java -version output
`java version "11.0.7" 2020-04-14 LTS
JAVA(TM) SE Runtime Environment 18.9 (build 11.0.7+8-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.7+8-LTS, mixed mode)`

[2021-09-13 13:58] dsgrieve commented on #89
Also fails on my local build.

[2021-09-13 15:17] karianna commented on #89
If it fails why did we close this issue? :-)

[2021-09-13 15:51] dsgrieve commented on #89
@karianna Because github's UI combines comment and close on the same widget, and puts 'close' where UI's (generally) put the 'Okay' button. Has absolutely nothing to do with a lazy user who clicks without thinking.

[2021-09-13 16:51] brunoborges commented on #89
This issue is due to PR #90

[2021-09-16 22:49] kcpeppe opened #93 "Remark is lost when ScavangeBeforeRemark is set"
The Remark event is lost when ScavengeBeforeRemark is set. Test with tests will be submitted when the issues with github-teestdata are resolved.

[2021-09-17 14:10] #93 closed

[2021-09-17 23:30] kirk-microsoft commented on #89
all tests are passing. I believe this maybe due to issues with how the data is currently being imported into the dev environment

[2021-09-17 23:30] #89 closed

[2021-09-17 23:32] kirk-microsoft opened #96 "Tests should run by default"
Currently tests do not run by default due to issues with how the test data is being managed. Once that issue is solved, tests should run by default.

[2021-09-23 10:48] kabutz opened #98 "test -Pcontributor does not work anymore"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:3.2.0:unpack (download-test-logs) on project gctoolkit: Unable to find/resolve artifact.: com.microsoft.gctoolkit:gctoolkit-gclogs:zip:1.0.2 was not found in https://repo.maven.apache.org/maven2 during a previous attempt. This failure was cached in the local repository and resolution is not reattempted until the update

[2021-09-23 10:51] karianna commented on #98
#90 To resolve this

[2021-09-23 11:26] karianna commented on #81
Name can be the same as the parent + ` API`
Description, feel free to come up with a one liner!
URL can be the same as the parent URL

Thanks!

[2021-09-23 21:41] brunoborges commented on #72
Resolved in #70

[2021-09-23 21:41] #72 closed

[2021-09-23 22:58] #98 closed

[2021-09-23 22:58] brunoborges commented on #96
Tests now run by default

[2021-09-23 22:58] #96 closed

[2021-09-24 00:01] #80 closed

[2021-09-24 06:53] brunoborges commented on #63
This has been fixed with #90

[2021-09-24 06:53] #63 closed

[2021-09-24 06:54] #64 closed

[2021-09-25 15:43] anantk24 commented on #81
#102 Added pull request please review.
Thanks!

[2021-09-26 11:12] marschall opened #103 "G1ConcurrentStringDeduplication lacks unit"
`G1ConcurrentStringDeduplication` doesn't have any comments so it's a bit hard to make sense of. It currently has

 - `startingStringVolume: double`
 - `endingStringVolume: double`
 - `reduction: double`
 - `percentReduction: double`

All these are `double` and not `long` without any comments. It is unclear if the values are in bytes, in which case `long` would be more appropriate see `MemoryPoolS

[2021-09-26 11:16] marschall opened #104 "G1ConcurrentStringDeduplication not working for unified logs"
I struggle to get `G1ConcurrentStringDeduplication` events reported

Demo project is here https://github.com/marschall/gctoolkit-demo log file is attached:

[middleware-jdk9.log](https://github.com/microsoft/gctoolkit/files/7231238/middleware-jdk9.log)

[2021-09-26 12:02] marschall opened #105 "StringDeduplication events should not be G1 specific"
StringDeduplication events should not be G1 specific and be at least enabled for Shenandoah. I [read](https://tschatzl.github.io/2021/09/16/jdk17-g1-parallel-gc-changes.html) they should be enabled for Serial GC, Parallel GC and ZGC as well but at least with Zulu17.28+13-CA this was not working.

[code]

Example file: [shenandoah.log](https://github.com/microsoft/gctoolkit/files/7231342/shenandoah

[2021-09-26 14:22] kirk-microsoft opened #106 "diary misses identifying G1 in log fragments"
During the refactoring something happened that the diary lost the ability to recognize G1 in log fragments.

[2021-09-27 11:47] karianna commented on #104
@marschall Can you describe the error message you are getting?

[2021-09-27 13:29] marschall commented on #104
No error messages, just no events reported.

[2021-09-27 20:52] brunoborges commented on #106
Is this an issue that only exists in the PR #107 or is this a problem that exists in the main branch or released version?

If the former, I believe we should discuss a better process. See #109

If the later, it would be good to have proper build logs failing, links to source code, etc.

[2021-10-01 16:40] #106 closed

[2021-10-03 14:41] kirk-microsoft opened #115 "Unified G1 log entries missed"
Add support to the parser to recognize log lines in unified G1 log files.

[2021-10-03 14:52] kirk-microsoft opened #116 "Parser rules improvements"
Currently the parser sends a log line through a set of (regex) rules to identify it to know how to safely process it. The proposal is to replace the list with a circular buffer in hopes that for well formed log files, the "next" log line will be the "next" rule which should hopefully reduce the number of rules to try before getting a hit. The worst case is still run to failure, failure being, the

[2021-10-04 16:36] dsgrieve opened #117 "NPE in UnifiedGCLogParser#noop and possibly elsewhere"
[code]

s/System.getProperty/Boolean.getBoolean/ and get rid of the equalsIgnoreCase

Another pattern that shows up is
```debugging = ("true".equals(System.getProperty("microsoft.debug", "false").toLowerCase()));```

There are some 19 uses of System.getProperty that need to be inspected.

[2021-10-04 18:53] dsgrieve opened #119 "NPE in com.microsoft.gctoolkit.parser.UnifiedGenerationalParser#remarkPhase"
concurrentCyclePauseEvent is null
NPE is swallowed by try-catch in com.microsoft.gctoolkit.parser.UnifiedGenerationalParser#process method.

[2021-10-04 21:19] #117 closed

[2021-10-07 20:24] karianna opened #121 "Architecture Document and Diagram(s)"
In order to help contributors understand how and where they can add, extend, refactor, etc. I think a minimum is:

* A description of each package/layer and its responsibilities.
* Any major _'Why'_ explanations for design patterns or implementations that may not be obvious to a new contributor.
* A picture speaks a thousand words.

Perhaps other things.

[2021-10-07 23:30] kirk-microsoft opened #123 "Enable ZGC tests"
Re-enable ZGC tests

[2021-10-07 23:31] kirk-microsoft opened #124 "Enable Shenandoah tests"
Re-enable Shenandoah tests

[2021-10-08 03:45] kirk-microsoft commented on #124
fixed

[2021-10-08 03:45] #124 closed

[2021-10-08 07:10] brunoborges commented on #124
@kirk-microsoft can you reference the commit or PR that fixed this?

[2021-10-08 14:57] kirk-microsoft opened #126 "Stable Clock API"
The API should offer a stable view of time as recorded in the GC log.

[2021-10-08 15:03] ghost opened #127 "Handle clock rollbacks"
Currently in Censum, the expectation is a monotonically increasing clock value. In reality, clocks are not monotonic and in those cases the clock can travel backwards. This leads to potential errors in downstream calculations. ATM there isn't much that can be done with this except detect it and offer a warning. The NTP RFC specifies jumps of approximately 100ms. NTP favours forward jumps and as it

[2021-10-08 15:07] kirk-microsoft opened #128 "estimate start time for log fragments"
In cases where the toolkit is offered log fragment, calculate a sensible start time. The calculations routinely assume that the logs start at 0.00 seconds which is not true in this case.

The hard question is, what defines a log fragment from a complete log.. IOWs how far from 0.00 seconds do we need to be before we estimate a start time.

[2021-10-08 15:16] #81 closed, assigned to anantk24

[2021-10-08 15:26] #83 closed

[2021-10-08 15:27] #82 closed

[2021-10-08 17:16] anantk24 commented on #81
Thanks for @brunoborges  too !

[2021-10-08 20:19] karianna opened #132 "-PContributor is no longer required - docs need updating"
@dsgrieve I think this is not true  now, we might need to modify contributing markdown .

_Originally posted by @anantk24 in https://github.com/microsoft/gctoolkit/discussions/48#discussioncomment-1449490_

[2021-10-08 21:07] dsgrieve opened #133 "G1GCForward reference is cumbersome"
G1GCForwardReference grew organically and needs to be looked at to see if it could be refactored into something more extensible. One thought is to have a G1GCForwardReference interface with specific implementation for the different patterns. But this may lead to unwanted casting.

[2021-10-11 13:13] #132 closed, assigned to nobody

[2021-10-13 19:31] #77 closed

[2021-10-15 17:09] dsgrieve opened #140 "Upgrade vert.x dependencies to 4.1.5"
vert.x 4.1.2 pulls in netty 4.1.65.final which has a DOS security vulnerability. The code involved is never executed by gctoolkit, but this does cause issues for dependency verification. vert.x 4.1.5 depends on netty 4.1.68.final which does not have the vulnerability.

After this upgrade, a new release of gctoolkit should be created.

References:
https://github.com/netty/netty/blob/netty-4.1.67.Fi

[2021-10-15 17:51] brunoborges commented on #140
@karianna I think there might be a bit of confusion with the template SECURITY.md and our case here. To my understanding - which *may be wrong! - SECURITY.md is for security flaws within the software we Microsoft write ourselves entirely.

[2021-10-15 18:42] #140 closed, assigned to dsgrieve

[2021-10-15 19:47] karianna opened #142 "Consider a Mailing List for this project"
In a recent discussion at #136 - I noticed that unless you're deeply following all issues raised in this repo that you can easily miss an important discussion.  I'd like to see if we can offer a more inclusive option.

[2021-10-18 09:59] DreamLettuce opened #144 "The G1GCPauseEvent.getTenured() return a wrong MemoryPoolSummary?"
**Describe the bug**
The G1GCPauseEvent.getTenured() return a wrong MemoryPoolSummary
[code]
why not like this?
[code]

**To Reproduce**
test gc log:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
gceasy.io analyze result:
![image](https://user-images.githubusercontent.com/7601244/137708781-045076ca-c445-4c3b-87db-f324759554ba.png)

g

[2021-10-25 23:33] brunoborges opened #147 "Extract command line from the log file in UnifiedJVMConfiguration"
https://github.com/microsoft/gctoolkit/blob/60f786a692db866f87f06e62083a34a778a64533/parser/src/main/java/com/microsoft/gctoolkit/parser/jvm/UnifiedJVMConfiguration.java#L44

[2021-10-25 23:34] brunoborges opened #148 "Consider breaking up Parallel for generational collections"
https://github.com/microsoft/gctoolkit/blob/6f0b5852f862b1380a284c388104870efe103196/parser/src/main/java/com/microsoft/gctoolkit/parser/jvm/PreUnifiedJVMConfiguration.java#L262

[2021-10-25 23:34] brunoborges opened #149 "Extract command line from PreUnifiedJVMConfiguration log file"
https://github.com/microsoft/gctoolkit/blob/6f0b5852f862b1380a284c388104870efe103196/parser/src/main/java/com/microsoft/gctoolkit/parser/jvm/PreUnifiedJVMConfiguration.java#L123

[2021-10-25 23:34] brunoborges opened #150 "Understand why -1.0d as the default?"
https://github.com/microsoft/gctoolkit/blob/8d88dfc64891b1a877ddaeeab104d9e94119e6f4/parser/src/main/java/com/microsoft/gctoolkit/parser/JHiccupTrace.java#L22

[2021-10-25 23:36] brunoborges opened #151 "GenerationalHeapParser: Populate with lines that should be ignored"
https://github.com/microsoft/gctoolkit/blob/4852eb3d1388fe4dc9de8e115fad28bb3581796e/parser/src/main/java/com/microsoft/gctoolkit/parser/GenerationalHeapParser.java#L299

[2021-10-25 23:36] brunoborges opened #152 "Remove if("Finished") when we start collecting this information"
https://github.com/microsoft/gctoolkit/blob/4852eb3d1388fe4dc9de8e115fad28bb3581796e/parser/src/main/java/com/microsoft/gctoolkit/parser/GenerationalHeapParser.java#L351

[2021-10-25 23:36] brunoborges opened #153 "Implement Concurrent Mode Failures in GenerationalHeapParser"
https://github.com/microsoft/gctoolkit/blob/4852eb3d1388fe4dc9de8e115fad28bb3581796e/parser/src/main/java/com/microsoft/gctoolkit/parser/GenerationalHeapParser.java#L1459

[2021-10-25 23:41] brunoborges opened #154 "JVMEventParser: smart checker for concatenated logs"
https://github.com/microsoft/gctoolkit/blob/4852eb3d1388fe4dc9de8e115fad28bb3581796e/parser/src/main/java/com/microsoft/gctoolkit/parser/JVMEventParser.java#L77

[2021-10-25 23:42] brunoborges opened #155 "SafepointParseRule: Consider use of Optional"
https://github.com/microsoft/gctoolkit/blob/8d88dfc64891b1a877ddaeeab104d9e94119e6f4/parser/src/main/java/com/microsoft/gctoolkit/parser/SafepointParseRule.java#L33

[2021-10-25 23:43] brunoborges opened #156 "ShenandoahParser: populate with lines that should be ignored"
https://github.com/microsoft/gctoolkit/blob/6baa1c455a3e2e6bc34311d4d4b404bcc0d64f19/parser/src/main/java/com/microsoft/gctoolkit/parser/ShenandoahParser.java#L75

[2021-10-26 00:01] brunoborges opened #157 "Consider clearer separation btwn Token vs SharedPattern"
https://github.com/microsoft/gctoolkit/blob/8d88dfc64891b1a877ddaeeab104d9e94119e6f4/parser/src/main/java/com/microsoft/gctoolkit/parser/SharedPatterns.java#L6

[2021-10-31 15:03] karianna commented on #152
Sounds like just remove the TODO comment as the same comment applies for every other line in the ignoreFrequentButUnwantedEntries method...

[2021-11-01 16:32] brunoborges opened #169 "Publish a BOM artifact to Maven Central"
By publishing a BOM, developers would only need to add a single dependency to their projects, simplifying consumption and onboarding experience for developers who just want to use GCToolkit in their projects.

# Proposal

Apache Maven:
[code]

Gradle:
[code]

This artifacts would depend on:
- gctoolkit-api
- gctoolkit-parser
- gctoolkit-vertx

Experienced developers would still be able, in the fut

[2021-11-02 21:35] kirk-microsoft commented on #150
these numbers should never be negative and if they are then they've never been set. This is used in cases where data may, or may not show up.. or we want to set the value once and once only

[2021-11-02 21:35] #150 closed

[2021-11-03 10:00] karianna commented on #150
@kirk-microsoft - did you replace the comment in the code with your explanation?

[2021-11-03 10:40] kirk-microsoft commented on #150
Adding comments to the code is an ongoing group effort that is being addressed in each additional pull request.

[2021-11-10 11:26] dginelli opened #172 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-16 00:19] tan31989 commented on #152
Oh wait, if I got it right, you just want the TODO comment removed? 😀

[2021-11-16 12:56] karianna commented on #152
I think we should add a comment at the top stating that this class covers all the lines where we don't collect any useful metrics (yet). Then I think we can remove all of the TODOs and I'd then love to see folks knowledgeable about those lines commenting each one stating "Why" they're not useful.

[2021-11-16 15:14] kirk-microsoft commented on #152
Don't know if I can add anything useful here but there are cases where information is only useful to those debugging the collector and really doesn't offer any great value to those tuning. This is data we can safely ignore. One example is PrintHeapAtGC. The data is really nice and concise but we already have it from other lines in the log file so... we can very safely ignore this in the log file.

[2021-12-06 17:12] MichaelJCook opened #179 "Having an issue with building the solution"
Getting an error when building GCToolkit.  Could you please help me understand what I can try to do to get maven working?

Thank you.

These are the steps I took:

Downloaded Docker build from here:

https://hub.docker.com/_/ubuntu

Command: "docker pull ubuntu"

CLI in docker -

Command:  "cd /"

Command: "git clone https://github.com/microsoft/gctoolkit.git"

Download maven 3.8.4

Command: "wget

[2021-12-06 19:10] brunoborges commented on #179
Hi @MichaelJCook,

I just ran a build again and it is all working fine: https://github.com/microsoft/gctoolkit/actions/runs/1546069872

Any chance you can review our [CONTRIBUTING](https://github.com/microsoft/gctoolkit/blob/main/CONTRIBUTING.md#build) guide?

[2021-12-06 21:21] MichaelJCook commented on #179
Thanks.  Had not run "mvn package".  All working now.

[2021-12-06 21:21] #179 closed

[2021-12-08 00:22] kirk-microsoft commented on #6
Initial refactoring will not support a final refactoring to use an SPI

[2021-12-08 00:22] #6 closed

[2021-12-08 00:24] kirk-microsoft opened #180 "JavaVirutalMachine to be provide by module SPI"
**Describe the bug**
Currently reflection is used to instantiate the needed specialization of JavaVirutalMachine in the GCToolkit class. This should be replaced with the module SPI.

[2021-12-08 00:29] #151 closed

[2021-12-08 00:29] kirk-microsoft commented on #148
class no longer exists

[2021-12-08 00:29] #148 closed

[2021-12-08 01:58] Mum2541 commented on #6
#74

[2021-12-08 01:59] Mum2541 commented on #6
#73

[2021-12-08 10:23] Mum2541 commented on #6
#6

[2021-12-08 23:03] Mum2541 commented on #144
#144

[2021-12-09 15:15] MichaelJCook opened #182 "Getting started question"
I can run the gctoolkit from maven, using the mvnw exec:exec command.

I would like some help with problem I am having running the Main from the command line directly.  I've pasted the console output below.  The Main runs, but there is no output when run directly.

Could you please advise a way for me to run the sample from a command prompt without maven?

Thank you,
Mike

mike@124e026f7dfb:~/gcto

[2021-12-09 18:03] dsgrieve commented on #182
The easiest thing to do is to throw a --debug on the mvn command line. The debug output will show you exactly what mvn is exec'ing.

[2021-12-10 14:08] dsgrieve commented on #182
Interesting that your debug output looks different from mine. It looks like it's running a unit test, not a java command line.

Anyway... I pieced this together from my output. This is on a Mac. YMMV.

After running `./mvnw install`

[code]

[2021-12-10 14:38] MichaelJCook commented on #182
Thanks, David.  That's very helpful!

I have it working now.

[2021-12-10 14:38] #182 closed

[2021-12-10 17:48] #180 closed

[2021-12-10 17:50] kirk-microsoft commented on #155
Optional also needs to be checked....

[2021-12-10 17:50] #155 closed

[2021-12-12 08:52] brunoborges commented on #180
Was this implemented? If yes, it would be good to reference the PR

[2021-12-15 10:27] ZhangShushu123 opened #183 "@Aggregates({EventSource.SAFEPOINT}) will fall into dead loop"
When I create an Aggregator with @Aggregates({EventSource.SAFEPOINT}). The program will loop forever.
I read the source code and I found that there is no LogFileParser with the outbox _SAFEPOINT_ .
Therefore, when the program execute the code `aggregatorVerticles.forEach(AggregatorVerticle::awaitCompletion);` , the Aggregator with @Aggregates({EventSource.SAFEPOINT}) will not complete forever.

[2021-12-15 10:40] ZhangShushu123 commented on #183
Is GCToolkitVertxParametersForPreUnifiedLogs.java line 140 `AggregatorVerticle aggregatorVerticle = new AggregatorVerticle(SAFEPOINT_OUTBOX);` change to `AggregatorVerticle aggregatorVerticle = new AggregatorVerticle(GCToolkitVertx.JVM_EVENT_PARSER_OUTBOX);`?
Because there is no AggregatorVerticle with the inbox _JVM_EVENT_.
However, I think we should add an `EventSource` enum value of _JVM_EVENT_

[2021-12-15 15:32] dsgrieve commented on #183
Nice find!

I think the issue here is that the SafePointParser is never created. I think part of the fix is to add this block of code to the `initLogFileParsers` method of GCToolkitVertxParametersForPreUnifiedLogs.
[code]
The `if (diary.isApplicationStoppedTime() || diary.isApplicationRunningTime())` test is probably needed around the code that calls `getAggregators(EventSource.SAFEPOINT, register

[2021-12-15 20:52] kirk-microsoft opened #184 "Do we need this impl class? Since this class is essentially a wrapper around Diary, can JvmConfiguration be changed from an interface to a class?"
Do we need this impl class? Since this class is essentially a wrapper around Diary, can JvmConfiguration be changed from an interface to a class?

_Originally posted by @dsgrieve in https://github.com/microsoft/gctoolkit/pull/173#discussion_r751595081_

I would like to see Impl classes be resolved to a type specific abstraction

[2021-12-15 20:53] kirk-microsoft opened #185 "diary.hasSafepointEvents()"
diary.hasSafepointEvents()

_Originally posted by @dsgrieve in https://github.com/microsoft/gctoolkit/pull/173#discussion_r751593141_

[2021-12-15 20:55] kirk-microsoft opened #186 "G1 Concurrent undo cycle event"
New G1 concurrent event that needs to be wired into GCToolkit. Implementation has been started

[2021-12-16 02:51] ZhangShushu123 commented on #183
By the way, I think adding code to remove `aggregatorVerticles` which inbox can not match with the `logFileParser `in `aggregateDataSource()` is a better way, because it will prevent the dead loop. Moreover, logging the removed `aggregatorVerticle`  in console with error level will tell us which `aggregatorVerticle` can not match and we should fix in the future.

[2021-12-16 03:10] ZhangShushu123 commented on #183
The code which should be added in aggregateDataSource() will show below. Of course, the code can be written more gracefully.
[code]

[2021-12-16 13:24] dsgrieve commented on #183
@ZhangShushu123 - would you be willing to create a PR for these changes?

[2021-12-17 01:32] ZhangShushu123 commented on #183
Of course. I will take a pull request as soon as possible.

[2021-12-20 14:19] karianna opened #193 "I find gctoolkit can't parse a CMF my gc log"
I find gctoolkit can't parse my gc log and show that
```Missed: 2021-12-19T22:31:54.909+0800: 623.525: [Full GC (Allocation Failure) 2021-12-19T22:31:54.909+0800: 623.525: [CMS (concurrent mode failure): 2097152K->2097152K(2097152K), 9.4110998 secs] 3984639K->3984638K(3984640K), [Metaspace: 215219K->215219K(1241088K)], 9.4112098 secs] [Times: user=9.27 sys=0.15, real=9.41 secs]```
I think gctoolki

[2021-12-20 14:20] karianna commented on #193
@ZhangShushu123 - Would you be willing to try and adjust the pattern?  I'd love to see what we're missing in terms of helping contributors make changes like that :-)

[2021-12-23 12:39] ZhangShushu123 commented on #193
Ok, I will follow this issue and try my best to contribute it :-)

[2021-12-27 01:56] ZhangShushu123 commented on #183
Thank you very much for taking the time to merge code. And I look forward to your next refactoring work.

[2021-12-27 03:18] ZhangShushu123 commented on #193
I find this pattern `[CMS (concurrent mode failure): 2097152K->2097152K(2097152K), 9.4110998 secs] 3984639K->3984638K(3984640K), [Metaspace: 215219K->215219K(1241088K)], 9.4112098 secs] [Times: user=9.27 sys=0.15, real=9.41 secs]` also appear in _promotion failed_ line.

[2021-12-27 07:48] ZhangShushu123 commented on #193
I think the solution of this issue is changing the `CMS_TENURED_BLOCK` from
`DATE_TIMESTAMP + "\\[CMS: " + BEFORE_AFTER_CONFIGURED_PAUSE + "\\]"` to
`DATE_TIMESTAMP + "\\[CMS(?:| \(concurrent mode failure\)): " + BEFORE_AFTER_CONFIGURED_PAUSE + "\\]"`

[2021-12-29 15:02] dsgrieve opened #196 "Cannot parse gc log where first line does not have a timestamp"
**Describe the bug**
Log file begins with
[code]
Parsing silently fails with
[code]

Removing the first line of the log resolves the issue, but gctoolkit should be able to handle this.

I have asked the originator of this issue to attach the log file here.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior

[2022-01-04 10:30] karianna commented on #193
@kirk-microsoft - WDYT?

[2022-01-04 14:41] kcpeppe commented on #193
Ok, this is weird. I was following this thread and I didn’t see any new comments show up until now.
This might work however, and unfortunately, without properly functional named capture groups, the parsers rely capture group indexes which is very fragile. Since this rule fragment is used in many different places, one needs to be careful as to not disturb the indexing. This is also an area that des

[2022-01-04 15:07] karianna commented on #193
What's the proposed next step here do you think?  We wait until we have named capture groups before fixing this one?

[2022-01-04 15:59] kcpeppe commented on #193
I was trying to clarify the issues without being prescriptive. That said, I’m happy to eval a PR with this solution.

[2022-01-05 03:46] ZhangShushu123 opened #197 "ZGC memory size without unit check"
I find gctoolkit get the raw memory size in `ZGCParser.java`  without the unit check.
I think the line liked `markStart[index] = trace.getLongGroup(2);` should change to `markStart[index] = trace.getMemoryInKBytes(2);` .
However, the lowest heap size of ZGC is 2MB，is the Mb will more suitable than the Kb？

[2022-01-05 07:55] ZhangShushu123 opened #198 "Function initialMark in CMSTenuredPoolParser show a bad use of getOccupancyBeforeAfterWithMemoryPoolSizeSummary"
The memory space does not change in initialMark. Moreover, this function is different of the initialMark in `GenerationalHeapParser.java`.
As far as I am concerned, `MemoryPoolSummary tenured = trace.getOccupancyBeforeAfterWithMemoryPoolSizeSummary(4);` should change to `MemoryPoolSummary tenured = trace.getOccupancyWithMemoryPoolSizeSummary(4);`.

[2022-01-05 09:59] karianna opened #199 "unifiedg1rules.txt and patch.txt existence?"
The _unifiedg1rules.txt_ and _patch.txt_ files in the root of the repository seem to serve no purpose?

They came in as part of https://github.com/microsoft/gctoolkit/pull/187

[2022-01-05 10:35] karianna opened #200 "Linked Developers Guide to Contributing doc"
the CONTRIBUTING.md and DEVELOPERS_GUIDE.md need to cross reference.

[2022-01-05 10:45] karianna commented on #197
Hmm, you might be right there, but I can't quite tell the intent of the arrays:

[code]

@kirk-microsoft - Are those meant to be holders for actual KByte memory numbers?

[2022-01-05 10:51] karianna commented on #198
You could well be right! :-).

I think one of the challenges I see in proving this is that CMSTenuredParserTest doesn't assert that values are 'correct'.

[code]

[2022-01-05 22:48] kirk-microsoft commented on #198
more tests in this area.. always welcome :-)

[2022-01-05 22:49] kirk-microsoft commented on #200
? specifics ?

[2022-01-05 22:51] kirk-microsoft commented on #197
Early on I standardized on using KB when reporting memory. Some of the downstream code will have this assumption baked in.

[2022-01-06 01:49] brunoborges commented on #200
One file should acknowledge the existence of the other.

In other words, we should consider start writing proper Docs :-D

[2022-01-06 02:04] ZhangShushu123 commented on #197
So, should ZGC have this assumption?

[2022-01-06 06:21] kcpeppe commented on #197
Good question. I'm not stuck on having a KB resolution in the data through I'm not so happy with a MB resolution either. IMO, it's far too granular. Given that it's no loss to use KB and it's going to take a significant effort to move away from a KB resolution, this isn't really something I would prioritize ahead of other more pressing issues. So my inclination is to stick to KB unless there is a

[2022-01-06 06:25] kcpeppe commented on #200
I'm not sure what is meant by "proper" docs but I do know that improvements to the documentation are a high priority and are in-flight. If you have specific suggestions please do post them.

[2022-01-06 12:46] karianna commented on #198
I'll look to add some :-).  In the mean time are you able to check if @ZhangShushu123 is correct?

[2022-01-06 12:47] karianna commented on #197
@kirk-microsoft So it sounds like if KBytes are assumed everywhere that the code **doesn't** need to change?

[2022-01-06 12:49] karianna commented on #200
Most developers who work on GitHub projects will look to the CONTRIBUTING.md file for help on contributing (there's automatic tooling around this as well), without a link in that doc to your new DEVELOPERS_GUIDE.md file, folks are going to miss it :-).

[2022-01-06 13:04] ZhangShushu123 commented on #197
In my zgc log, it shows like 20M(100%).

[2022-01-06 15:22] kirk-microsoft commented on #197
@ZhangShushu123 are you able to share that log? I'd be interested in looking at it.

[2022-01-07 01:52] ZhangShushu123 commented on #197
Sure. The log fragment is shown as below @kirk-microsoft .
[code]

[2022-01-07 08:54] ZhangShushu123 opened #201 "Gctoolkit can not analyze the timeOfLastEvent properly"
In preunified CMS log, the last event will be a ParNew Event. However, the mailbox in `GCToolkitVert` is CMS_TENURED_POOL_PARSER_OUTBOX which is defined in `initMailBox`.

[2022-01-07 09:00] ZhangShushu123 commented on #201
The timeOfLastEvent in below Log is `2022-01-07T02:04:00.482+0800 + duration` rather than `2022-01-07T02:03:53.462+0800 + duration`.
[code]

The related code
[code]

and

[code]

I trust you will come up with a good solution to this problem.

[2022-01-08 15:09] kcpeppe commented on #201
This is a well known issue… the plan is to provided a unified view of time.

[2022-01-10 13:37] dsgrieve commented on #201
FWIW, the RuntimeAggregation in the samples directory does the right thing here.

[2022-01-11 04:17] ZhangShushu123 commented on #201
RuntimeAggregation can't catch  `EventSource.GENERATIONAL` and `EventSource.TENURED` in the same time with the reason that
 Verticle of Tenured and Verticle of Generational will construct RuntimeAggregation object respectively.

[2022-01-11 14:03] dsgrieve commented on #201
@ZhangShushu123 - That is true, which is why there is a need for a unified view of time. I created RuntimeAggregation because I had an Aggregation that needed runtime duration to do a calculation and there was no other way to get the runtime. Which is another reason why there is a need for a unified view of time.

One thought is to put runtime duration into the JVMEvent itself, which would probabl

[2022-01-11 14:51] kcpeppe commented on #199
Removed

[2022-01-11 15:10] kcpeppe commented on #201
The real issue is having a consistent start time. If your log starts from 0.000, this is easy. But if your log starts from 2345432.000 then this is also easy. But if you look starts at 800.000 it starts getting a wee bit trickier to know what value to use. Your choice will all of the analytics that depend on knowing the exact runtime duration.  IMO, the answer is to have JavaVirtualMachine keep a

[2022-01-27 04:05] kcpeppe commented on #184
The impl class has been removed

[2022-01-27 04:05] #184 closed

[2022-01-27 04:05] #199 closed

[2022-01-27 04:07] kcpeppe commented on #154
JVMEventParser has no awareness of the DataSource. If the DS closes or otherwise terminates, a termination event is published

[2022-01-27 04:07] #154 closed

[2022-01-27 04:08] #157 closed

[2022-01-31 10:25] karianna opened #203 "Parsing GC Logs can be slow"
For some logs, parsing is slow.  There are a myriad of factors involved in this, including the order or rules and how they are applied.  The ZGC log attached with permission from AliBaba is an example of this.

[slow_zgc_log.log](https://github.com/microsoft/gctoolkit/files/7969996/slow_zgc_log.log)

[2022-02-02 11:36] karianna opened #205 "Please give us feedback on how we are doing as maintainers!"
We’d like to hear from you the members of the community in this repo to learn how we were doing as maintainers.

Whether you've been involved for some time or you're relatively new please tell us about your experience participating and contributing to the project. It should only take a few minutes, and you can answer for up to 3 repos:

https://www.surveymonkey.com/r/8QTQTGJ?Source=gctoolkit

[2022-02-03 15:30] kirk-microsoft commented on #201
This issue is resolved in the latest PR. I'll push a release for it to Maven Central very shortly

[2022-02-03 17:38] #201 closed

[2022-02-09 17:42] brunoborges opened #208 "Release 2.0.6 not in Maven Central"
There is no release `2.0.6` in Maven Central: https://search.maven.org/artifact/com.microsoft.gctoolkit/gctoolkit

But there is a tag/release for 2.0.6 here: https://github.com/microsoft/gctoolkit/releases/tag/gctoolkit-2.0.6

Was this a problem in our build pipeline, @kcpeppe ?

[2022-02-15 16:32] karianna commented on #205
@kabutz @marchof @dginelli @MichaelCook @ZhangShushu123 @kittylyst @sormuras @andotrog

@anantk24 @slowy07 @SubOptimal Would love your thoughts!

[2022-02-15 16:37] kabutz commented on #205
Seriously?

[2022-02-15 16:55] karianna commented on #205
Should have added more context sorry - we think that we’ve got some
improvements to make - including how we communicate with all of you (having
to AT folks via GH issues for example was less than ideal, a mailing list
message would have been far better)

On Tue, 15 Feb 2022 at 16:38, kabutz ***@***.***> wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2022-02-15 17:36] slowy07 commented on #205
complete sir @karianna

[2022-02-17 14:54] massdosage opened #209 "Sample project unable to parse G1 GC log files"
**Describe the bug**
I have tried to run the sample project on log files generated by the (default) G1 garbage collector in Java 11. It fails to process these without indicating what is going wrong. Does it perhaps only support a certain format of the Java 11 unified logs?

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a Java 11 GC log file from your application by using these flag

[2022-02-19 18:05] kcpeppe commented on #209
Hi, sorry for the delay in writing back. There is a recommended set of flags for G1 unified logging that if not followed I'm sure will result in some grief. If you check the log file I think you'll find the issue there. It's in the roadmap that G1 should more robustly support a lesser set of flags, it's just not something that has bubbled up as of yet.

Recommended flags -> -Xlog:gc*,gc+ref=debug,

[2022-02-20 16:49] kcpeppe opened #211 "G1GC Archive regions"
GCToolkit recognized but does not use the data to account for G1 archive regions when calculating the size and occupancy of tenured.

GCToolkit's calculation of tenured should subtract archive regions from the tenured total.

[2022-02-21 07:15] SubOptimal commented on #205
Done.

[2022-02-21 10:47] massdosage commented on #209
OK, thank you, that makes sense and quite a few of the Garbage Collection tools document the subset of flags that they support. I tried again with the ones you suggested and it worked (although the Maven VM never exited, not sure if that's intentional and whether it "tails" the file?)

Are these "recommended" flags documented somewhere that I missed? Or should they be added? Maybe to the README fo

[2022-02-21 11:02] karianna opened #212 "Document recommended flags for GCToolkit"
OK, thank you, that makes sense and quite a few of the Garbage Collection tools document the subset of flags that they support. I tried again with the ones you suggested and it worked (although the Maven VM never exited, not sure if that's intentional and whether it "tails" the file?)

Are these "recommended" flags documented somewhere that I missed? Or should they be added? Maybe to the README fo

[2022-02-21 11:02] #209 closed

[2022-02-21 16:03] kcpeppe commented on #209
The intent has always been to increase the number of supported flag combinations. In JDK approximately 3.0 different flag combinations have been tested. For UL, the focus was on a minimal set that produced all the data that is likely necessary to tune while unintentionally ignoring those that seemed relevant only to VM engineers

[2022-02-21 16:09] kcpeppe commented on #209
I should add, the other approach is to adjust GC UL levels. For example, age table data yields a very useful view of overt transient activity. This is of course, essential information in the tuning to reduce GC cycles in tenured. This information should be printed at the default info level IMHO. This would simplify the command line a wee bit.

[2022-03-01 22:54] #205 closed

[2022-03-01 22:54] karianna commented on #205
Thanks all!

[2022-03-11 17:34] kirk-microsoft opened #213 "AbstractJavaVirtualMachine::isParallel returns the wrong value."
method isParallel returns isParNew().. that is for the CMS collector, not the parallel collector. Method should return isPSYoung or isPSOld.

[2022-03-11 18:56] kirk-microsoft commented on #213
fixed

[2022-03-11 18:56] #213 closed

[2022-03-25 19:47] dsgrieve opened #214 "GCToolkitVertxParameters#createAggregator should not arbitrarily pick the first constructor"
**Describe the bug**
com.microsoft.gctoolkit.vertx.jvm.GCToolkitVertxParameters#createAggregator does this:
`            return (Aggregator<?>) aggregatorClass.getConstructors()[0].newInstance(aggregationClass.getConstructors()[0].newInstance());
`
But this could blow up if the class has more than one constructor. Instead, the code should look for the no-arg constructor (for the Aggregation) and t

[2022-03-25 21:15] brunoborges commented on #214
Any thoughts on doing a builder interface/factory?

[2022-03-26 13:39] kcpeppe commented on #214
Fix is easy, filter through the list and look for the zero agr constructor.
can you suggest how a builder or factory anti-pattern helps?

On Fri, Mar 25, 2022 at 14:15 Bruno Borges ***@***.***> wrote:

[2022-04-08 16:35] kirk-microsoft commented on #126
The solution is to add the runtime to the JVMTerminationEvent. The parsers that create JVMTerminationEvent have access to all the information needed to calculate runtime. JVMTerminationEvent is available to all aggregators which is where the information is needed.

[2022-04-08 16:35] #126 closed

[2022-04-13 12:43] DataProvided opened #217 "dependency scope setting issues"
Hi,

We are developing a tool to check whether the dependencies' scopes in maven are set rightly and reasonably.

Our tools have found some issues in your project about scope setting in maven' pom.xml file.

- in `gctoolkit-vertx\pom.xml`, `io.vertx:vertx-core` scope should be `provided`  instead of `compile`.

Please help us confirm whether the above reports are right and explain why it should se

[2022-04-13 15:32] dsgrieve commented on #217
I would agree if gctoolkit was a reactive app, but it is not. gctoolkit make use of the verx-core message bus, but not much else. Therefore, it is not reasonable to expect the runtime environment to provide the lib.

[2022-04-17 09:17] #217 closed

[2022-04-22 00:17] kirk-microsoft commented on #208
my bad, I made a mistake resulting in 2.0.6 got skipped. If there is a point in correcting this then....

[2022-04-22 00:17] #208 closed

[2022-04-22 20:07] dsgrieve commented on #214
https://github.com/microsoft/gctoolkit/pull/216

[2022-04-22 20:07] #214 closed

[2022-04-22 20:09] #183 closed

[2022-07-05 15:27] dsgrieve opened #220 "Unified log parser cannot collect safepoint information"
### Discussed in https://github.com/microsoft/gctoolkit/discussions/219

<div type='discussions-op-text'>

<sup>Originally posted by **lalaorya** July  4, 2022</sup>
I try to collect stw information from safepoint logs, here are my logs and aggregator
[code]
[code]
By debug I found that `GCToolkitVertxParametersForUnifiedLogs#initAggregatorVerticles` has no safepoint related logic, which means tha

[2022-07-06 18:20] brunoborges opened #221 "Project is not building"
The project has not being built for a while due to an issue with G1 logs.

https://github.com/microsoft/gctoolkit/actions/workflows/maven.yml

@kcpeppe @dsgrieve any idea?

[2022-07-06 19:45] karianna commented on #221
[INFO] Running com.microsoft.gctoolkit.integration.io.SingleGarbageCollectionLogFileTest
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.042 s <<< FAILURE! - in com.microsoft.gctoolkit.integration.io.SingleGarbageCollectionLogFileTest
[ERROR] com.microsoft.gctoolkit.integration.io.SingleGarbageCollectionLogFileTest.unifiedLog  Time elapsed: 0.037 s  <<< ERROR!
java.lang.R

[2022-07-06 19:45] karianna opened #222 "[INFO] Running com.microsoft.gctoolkit.integration.io.SingleGarbageCollectionLogFileTest"
[INFO] Running com.microsoft.gctoolkit.integration.io.SingleGarbageCollectionLogFileTest
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.042 s <<< FAILURE! - in com.microsoft.gctoolkit.integration.io.SingleGarbageCollectionLogFileTest
[ERROR] com.microsoft.gctoolkit.integration.io.SingleGarbageCollectionLogFileTest.unifiedLog  Time elapsed: 0.037 s  <<< ERROR!
java.lang.R

[2022-07-06 20:31] dsgrieve commented on #222
Test file is missing, but @kcpeppe should have it. I'll disable the test until the file can be uploaded.

[2022-07-06 20:47] #221 closed, assigned to nobody

[2022-07-06 21:59] dsgrieve commented on #222
@kcpeppe FYI: I commented out the missing file from the list of files in the test so you'll need to undo my hack once the `unified/g1gc/gc-all-info.log.zip` has been uploaded.
[code]

[2022-07-07 08:10] karianna opened #224 "PSYoungGen getDuration method not returning duration for a specific log"
Yes, the method is inherited from JVMEvent. However that method does not return anything for PSYoungGen event. Similar is the case for many other events. By inheritence, it should have that data. But either the parsers are not able to capture those events, or there is something else wrong.

For reference, i ran the same GC log file with GCToolkit and GCeasy. GCEasy was able to get PSYoungGen event

[2022-07-07 08:10] karianna commented on #224
@HritwikSinghal - are you able to post the log here?

[2022-07-07 11:16] HritwikSinghal commented on #224
@karianna yes, here it is. https://github.com/HritwikSinghal/gctoolkit/releases/download/log_file/hbase.gc.0.log

[2022-07-08 00:56] HritwikSinghal commented on #224
Ok, so a little bit more info for debugging.  ![Uploading Screenshot from 2022-07-08 06-21-26.png…](Here) are stats from GCEasy for above log file. You can See that it can parse YoungGC and ConcurrentPreClean and give stats.

However if i try to run the same GC log file with my GCToolkit sample script, it shows these values for PSYoungGen, YoungGC, ConcurrentPreClean and even for.

[code]

So this

[2022-07-09 15:15] kcpeppe commented on #224
Thank you for all the extra information. We ha(ve)(d) test to ensure that the events contain the correct values. The first thing here is to check that those tests are being executed. I've been away from a computer for a few days but I'll be digging in this week.

[2022-07-13 12:20] dsgrieve commented on #220
Work in progress on branch issue_220

[2022-07-26 09:07] messi612 commented on #193
I have the same problem and expect it to be solved

[2022-09-09 04:19] kirk-microsoft commented on #197
Issue has been resolved with recent changes to ZGCParser

[2022-09-09 04:19] #197 closed

[2022-09-09 04:20] #144 closed

[2022-09-14 07:10] HritwikSinghal commented on #224
@karianna @kcpeppe any updates on this?

[2022-09-15 09:22] karianna commented on #224
CC @kirk-microsoft for work inbox :-)

[2022-09-27 19:24] karianna opened #235 "Revisit G1PauseEvent and a G1RealPauseEvent"
From Kirk Pepperdine:

I've noted that there is a G1PauseEvent and a G1RealPauseEvent... and for the life of me I don't know why the RealPause is in the hierarchy.. I think it can be safely removed.

[2022-09-27 19:25] kirk-microsoft opened #236 "Remove G1RealPauseEvent"
This is an artifact of a previous refactoring that allowed the blending of the event hierarchy. It's not longer used and can be removed.

[2022-10-28 17:47] karianna opened #237 "Add messaging API to api module"
Current implementation has a circular dependency because we are too tightly coupled to vert.x.  Adding this API will break the code coupling which can lead to a further refactoring.

This is important before we add new features like GenShen and GenZGC parsing.

https://github.com/microsoft/gctoolkit/issues/237#tasklist-block-37859257-88f0-46f4-9886-0fc62a30d37e

[2022-10-31 20:46] dsgrieve opened #241 "NPE in c.m.g.sample.aggregation.HeapOccupancyAfterCollection.extractHeapOccupancy"
Don't dismiss as 'it's only a sample' as this may expose some underlying problem, or expose some lack of coverage in unit testing.

**Describe the bug**
022-10-31T20:35:27.3983818Z [INFO] Running com.microsoft.gctoolkit.integration.core.PreunifiedJavaVirtualMachineConfigurationTest
2022-10-31T20:35:27.9909813Z Oct 31, 2022 8:35:27 PM com.microsoft.gctoolkit.vertx.aggregator.AggregatorVerticle lamb

[2022-11-01 07:56] loyispa opened #242 "Question: periodic analyse active gclog"
**Is your feature request related to a problem? Please describe.**
Thanks for providing such excellent works. Currently I want to periodically analyze active gc logs per minute，is this supported at present？

[2022-11-01 12:37] karianna commented on #242
@loyispa I assume you're looking to stream the log into GCtoolkit and re-analyze, so something like GCToolkit as a service?

[2022-11-03 02:35] loyispa commented on #242
That's it！

[2022-11-03 22:22] karianna commented on #242
Unfortunately that's out of scope for GCToolkit itself (that would have to be a separate project of some description I feel)

[2022-11-03 22:22] #242 closed

[2022-11-04 19:11] karianna opened #243 "Document Release Process for maintainers"
It's roughly run the GH Action then log into OSS Sonatype Nexus and hit release but we need to write it up a little

[2022-11-04 19:13] karianna opened #244 "Consider checking for keywords in commit messages to align with JReleaser syntax for Release notes"
JReleaser follows an open std on parsing commit messages for keywords that it uses to nicely produce release notes.  Consider enforcing this vi a GHAction that checks messages.

[2022-11-28 18:08] karianna commented on #237
Messaging API has been settled upon. Parser and Analytics need to be rewired in and then the tests updated.